@import '../../variables.scss';
@import '../../media.scss';

* {
    padding-top: 0;
    margin: 0;
}

.page {
    background-color: #f7f9fe;
    //Landing section
    .landing__section {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        background-color: #165F96;
        height: 500px;

        @include media('<=tablet') {
            flex-direction: column;
            height: 800px;
            padding: 50px 0;
        }
        @include media('>tablet', '<desktop') {
            flex-direction: column;
            height: 750px;
            align-items: center;
            justify-content: center;
        }

        .landing__text {
            width: 45%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;
            font-weight: 400;
            

            @include media('<=tablet') {
                height: 350px;
                top: 120px;
                width: 100%;
                align-items: center;
            }
            @include media('>tablet', '<desktop') {
                position: relative;
                top: -80px;
                align-items: center;
                height: 500px;
            }


            h1 {
                color: $primary;
                font-size: 50px;
                margin: 10px 0px;
                max-width: 45rem;
                text-align: center;
                position: relative;
                top: -20px;

                @include media('<=tablet') {
                    margin-bottom: 80px;
                    font-size: 40px;
                    text-align: center;
                }

                @include media('>tablet', '<desktop') {
                    font-size: 2.5rem;
                    top: -100px;
                    bottom: 0px;
                    width: 100%;
                    text-align: center;
                }
            }

            .btn__callnow {
                border-radius: 25px;
                padding: 1em 2em;
                background: linear-gradient(117deg, rgb(245,228,71), rgb(213, 198, 63));
                border: none;
                color: #165F96;
                font-size: 1.5rem;
                cursor: pointer;
                transition: box-shadow 0.25s ease 0s;
                transition: all .2s ease-in-out;
                letter-spacing: 0.08rem;
                white-space: initial;
                margin-left: 220px;
            
                @include media('<=tablet') {
                    font-size: 1.5rem;
                    margin-left: 0;
                }
                @include media('>tablet', '<desktop') {
                    font-size: 1.5rem;
                    margin-left: 0;
                    margin-bottom: 90px;
                }
            
            
            
                span {
                    font-weight: 500;
                    font-size: 2.5rem;
            
                    @include media('<=tablet') {
                        font-size: 1.7rem;
                    }
            
                    @include media('>tablet', '<desktop') {
                        font-size: 1.8rem;
                        width: 12em;
                    }
                }
            
                &:hover {
                    background: linear-gradient(117deg, rgb(245,228,71), rgb(238, 220, 53));
                    box-shadow: 0 0.1rem 0.8rem rgb(247, 229, 67);
                    transform: scale(1.1);
                }
            
            }
        }

            
            img{
                height: 100%;
                width: 100%;
                @include media('<=phone') {
                    height: 300px !important;
                    position: relative;
                    left: -15px;
                }
                @include media('<=tablet') {
                    height: 480px;
                    position: relative;
                    left: 10px;
                }
                @include media('>tablet', '<desktop') {
                    position: relative;
                    left: 20px;
                }
                @include media('<=laptop') {
                    position: relative;
                    top: -20px;
                }
                @include media('>laptop') {
                    position: relative;
                    top: 20px;
                    width: 52rem;
                }
                @include media('>XL') {
                    margin-left: 100px;
                }
            }

    }

    .tag__section {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 20px;
        font-size: 1.5rem;
        background-color: #323B42;
        color: $primary;
        position: relative;
        padding: 5px 0;
        top: -7px;

        @include media('<=tablet') {
            font-size: 1rem;
            text-align: center;
            gap: 5px;
        }
    }

    //Services section
    .services__section {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 100px 10px;
        background-color: #f7f9fe;
        width: 100%;

        @include media('<=tablet') {
            padding: 0px 0px;
            transform: scale(0.9);
        }

        h1 {
            color: #165F96;
            font-size: 40px;

            @include media('<=tablet') {
                font-size: 40px;
            }
        }

        .service__buttons {
            margin: 90px 0px;

            @include media('<=tablet') {
                margin: 50px 0px;
            }


            .service__line1 {
                display: flex;
                gap: 120px;

                @include media('<=tablet') {
                    display: flex;
                    flex-direction: column;
                }

                @include media('>tablet', '<desktop') {
                    flex-wrap: wrap;
                    justify-content: center;
                    align-items: center;
                }

            }

            .service__line2 {
                margin: 70px 0;
                display: flex;
                justify-content: center;
                align-items: center;
                gap: 120px;

                @include media('<=tablet') {
                    display: flex;
                    flex-direction: column;
                }

                @include media('>tablet', '<desktop') {
                    flex-wrap: wrap;
                    justify-content: center;
                    align-items: center;
                }

            }
        }
    }

    .callnow__section {
        position: relative;
        display: flex;


        img {
            position: relative;
            height: 500px;
            width: 100%;
            opacity: 0.5;
        }

        &__info {
            display: flex;
            justify-content: center;
            gap: 30px;
            align-items: center;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 100%;

            @include media('<=tablet') {
                flex-direction: column;
            }
            @include media('>tablet','<desktop') {
                gap: 30px;
            }

            p {
                font-size: 4rem;
                font-weight: 600;
                max-width: 600px;
                margin-left: 25px;
                @include media('<=phone') {
                    text-align: center;
                    font-size: 2rem;
                }

                @include media('<=tablet') {
                    text-align: center;
                    font-size: 2.5rem;
                }

                @include media('>tablet', '<desktop') {
                    font-size: 3rem;
                    margin-left: 25px;
                }



            }

            button {
                padding: 1.3em 3em;
                font-size: 2.5rem;
                width: 12em;
                text-transform: uppercase;
                letter-spacing: 2.5px;
                font-weight: 600;
                color: #fff;
                background: linear-gradient(117deg, rgb(25, 96, 150), rgb(28, 119, 187));
                border: none;
                border-radius: 90px;
                box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
                transition: all 0.3s ease 0s;
                cursor: pointer;
                outline: none;
                margin-right: 25px;

                @include media('<=tablet') {
                    font-size: 1.2rem;
                    width: 12em;
                }

                @include media('>tablet', '<desktop') {
                    font-size: 1.2rem;
                    width: 12em;
                    margin-right: 25px;
                }



                &:hover {
                    background-color: #2590DF;
                    box-shadow: 0px 15px 20px rgb(42, 164, 253);
                    color: #fff;
                    transform: translateY(-7px);
                }
            }

        }
    }

}
