@import '../../variables.scss';
@import '../../media.scss';

* {
    padding-top: 0;
    margin: 0;
}

.page {
    //Landing section
    .landing__section {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        top: 32px;

        .landing__text {
            position: absolute;
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            padding: 30px 0;
            background-color: rgba(54, 40, 81, 0.8);
            font-weight: 400;

            
            @include media('<=tablet'){
                height: 220px;
                top: 75px;
                width: 100%;
            }

            @include media('>tablet' , '<desktop'){
                height:  304px;
                top: 75px;
            }
            

            h1 {
                color: $primary;
                font-size: 50px;
                margin: 40px 20px;

                @include media('<=tablet'){
                    font-size: 25px;
                    text-align: center;
                }
            }
        }

        img {
            position: relative;
            width: 100%;

            @include media('<=tablet'){
                width: 100%;
                height: 279px;
            }
        }
    }

    //Services section
    .services__section{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 100px 10px;

        @include media('<=tablet'){
            padding: 0px 10px;
            transform: scale(0.9);
        }

        h1 {
            color: $fontColor;
            font-size: 40px;

            @include media('<=tablet'){
                font-size: 40px;
            }
        }

        .service__buttons {
            margin: 90px 0px;

            @include media('<=tablet'){
                margin: 50px 0px;
            }
            

            .service__line1{
                display: flex;
                gap: 70px;

                @include media('<=tablet'){
                    display: flex;
                    flex-direction: column;
                }

                @include media('>tablet' , '<desktop'){
                    flex-wrap: wrap;
                    justify-content: center;
                    align-items: center;
                }
                
            }

            .service__line2{
                margin: 50px 0;
                display: flex;
                justify-content: center;
                align-items: center;
                gap: 70px;

                @include media('<=tablet'){
                    display: flex;
                    flex-direction: column;
                }

                @include media('>tablet' , '<desktop'){
                    flex-wrap: wrap;
                    justify-content: center;
                    align-items: center;
                }
                
            }
        }
    }

    .callnow__section{
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 300px;
        padding: 80px;
        position: relative;

        @include media('<=tablet'){
            justify-content: flex-start;
            gap: 20px;
            flex-direction: column;
            padding: 0;
        }

        @include media('>tablet' , '<desktop'){
            padding: 0 50px;
        }

        p{
            font-size: 4rem;
            font-weight: 600;

            
        @include media('<=tablet'){
            font-size: 1.7rem;
        }

        @include media('>tablet' , '<desktop'){
            font-size: 3rem;
        }

        }

        button {
            padding: 1.3em 3em;
            font-size: 2.5rem;
            width: 12em;
            text-transform: uppercase;
            letter-spacing: 2.5px;
            font-weight: 500;
            color: $primary;
            background-color: $secondary;
            border: none;
            border-radius: 90px;
            box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
            transition: all 0.3s ease 0s;
            cursor: pointer;
            outline: none;

            @include media('<=tablet'){
                font-size: 1.2rem;
                width: 12em;
            }

            @include media('>tablet' , '<desktop'){
                font-size: 1.2rem;
                width: 12em;
            }
            
    

            &:hover {
                background-color: #5418CB;
                box-shadow: 0px 15px 20px rgb(62, 22, 160);
                color: #fff;
                transform: translateY(-7px);
              }
        }
    }

}

//Button landing section
.btn__callnow {
    border-radius: 25px;
    padding: 1em 2em;
    background: linear-gradient(117deg, rgb(62, 22, 142), rgb(62, 22, 100));
    border: none;
    color: rgb(255, 255, 255);
    font-size: 1.5rem;
    cursor: pointer;
    transition: box-shadow 0.25s ease 0s;
    transition: all .2s ease-in-out;
    letter-spacing: 0.08rem;
    white-space: initial;

    @include media('<=tablet'){
        font-size: 1.1rem;
    }

    span {
        font-weight: 500;
        font-size: 2.5rem;

        @include media('<=tablet'){
            font-size: 1.1rem;
        }
    }

    &:hover {
        background: linear-gradient(117deg, rgb(62, 22, 160), rgb(62, 22, 130));
        box-shadow: 0 0.1rem 0.8rem rgb(62, 22, 130);
        transform: scale(1.1);
    }

}


.circle{
    position: absolute;
    z-index: -1;
    background-color: #EBE8F1;
    height: 200px;
    width: 200px;
    border-radius: 200px 200px;
    bottom: 1px;

    @include media('<=tablet'){
        display: none;
    }
}

.circle_1 {
    position: absolute;
    z-index: -1;
    background-color: #EBE8F1;
    height: 150px;
    width: 150px;
    border-radius: 150px 150px;
    left: 10px;
    top: 1px;

    @include media('<=tablet'){
        display: none;
    }
}

.circle_2 {
    position: absolute;
    z-index: -1;
    background-color: #EBE8F1;
    height: 100px;
    width: 100px;
    border-radius: 100px 100px;
    left:400px;
    top: 1px;

    @include media('<=tablet'){
        display: none;
    }
}

.circle_3 {
    position: absolute;
    z-index: -1;
    background-color: #EBE8F1;
    height: 150px;
    width: 150px;
    border-radius: 150px 150px;
    left: 60em;
    bottom: 1px;

    @include media('<=tablet'){
        display: none;
    }
}

.circle_4 {
    position: absolute;
    z-index: -1;
    background-color: #EBE8F1;
    height: 250px;
    width: 250px;
    border-radius: 250px 250px;
    right: 10px;
    top: 1px;

    @include media('<=tablet'){
        display: none;
    }
}