@import '../../variables.scss';
@import '../../media.scss';


.Services__greetings {
    background-color: $secondary;
    color: $primary;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 110px 0; 
    p{
        font-size: 2.8rem;
        text-align: center;
        max-width: 890px;
        font-weight: lighter;

        @include media('<=tablet') {
            font-size: 2rem;
            max-width: 600px;
        }
    }
}

.Service-left {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
    gap: 100px;
    margin: 150px 0;

    @include media('<=tablet') {
        flex-direction: column;
        gap: 50px;
    }

    .Service__image {

        @include media('<=tablet') {
           transform: scale(.6);
        }
    
    }

    .Service__details {
        
        .Service__title{
            color: $secondary;
            font-size: 2.6rem;
            font-weight: 600;          
        }

        .Service__description{
            max-width: 600px;
            font-size: 19px;
            font-weight: lighter;
        }

        .Service__subtitle {
            padding: 15px 0;
            font-size: 1.4rem;
            color: $secondary;
            font-weight: 600;
        }

        ul{
            padding: 0 40px;
            font-size: 19px;
            font-weight: lighter;
        }
    }
    
}

.Service-right {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row-reverse;
    padding: 30px;
    gap: 100px;
    margin: 150px 0;

    @include media('<=tablet') {
        flex-direction: column;
    }

    .Service__image {

        @include media('<=tablet') {
            transform: scale(.6);
            gap: 50px;
         }
    
    }

    .Service__details {
        
        .Service__title{
            color: $secondary;
            font-size: 2.6rem;
            font-weight: 600;          
        }

        .Service__description{
            max-width: 600px;
            font-size: 19px;
            font-weight: lighter;
        }

        .Service__subtitle {
            padding: 15px 0;
            font-size: 1.4rem;
            color: $secondary;
            font-weight: 600;
        }

        ul{
            padding: 0 40px;
            font-size: 19px;
            font-weight: lighter;
        }
    }
    
}

