@import '../../variables.scss';
@import '../../media';

footer{
    background-color: #323B42;
    color: white;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    height: 16rem;
    @include media('<=tablet'){
        height: 37rem;
        display: inline-block;
        width: 100%;
    }
    @include media('<=desktop'){
        width: 100%;
    }
    @include media('<=media'){
        height: 22rem;
        width: 100%;
    }
    @include media('<=phone'){
        height: 25rem;
        width: 100%;
    }

    img{
        width: 50px;
        margin: 0.5rem;
    }
    
    ul{
        list-style: none;
    }

    .one{
        text-align: center;
        justify-content: center;
        place-self: center;
        @include media('<=tablet'){
            margin: 1rem;
        }
    }
    
    .two{
        align-self: center;
        place-self: center;
        @include media('<=tablet'){
            text-align: center;
            margin: 1rem;
        }
    }
    
    hr{
        height: 0.2px;
        background-color: #E5E5E5;
        width: 100%;
        grid-column-start: 1;
        grid-column-end: 3;
        place-self: center;
        @include media('<=desktop'){
            width: 100%;
            margin-top: 1rem;
        }
    }

    .copy{
        grid-column-start: 1;
        grid-column-end: 3;
        place-self: center;
        text-align: center;
        color: white;
        @include media('<=tablet'){
            text-align: center;
        }
        @include media('<=desktop'){
            text-align: center;
        }
    }
}





