@import '../../variables.scss';
@import '../../media.scss';

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 75px;
    position: relative;
    margin-left: 20px;

    &__logo {
        @include media('<=tablet'){
            width: 250px;
            height: 50px;
            margin-left: 10px;
        }
    }

    &__links {
        display: flex;
        justify-content: flex-end;
        list-style: none;
        width: 100%;

        @include media('<=tablet') {
            display: none;
        }

        .btn__page.active {
            background-color: $secondary;
            color: #fff;
          }

        .btn__page {
            text-decoration: none;
            border: none;
            background-color: #fff;
            color: $secondary;
            font-size: 17px;
            padding: 10px 20px; 
            cursor: pointer;
            border-radius: 30px;
            margin: 0 10px;
            transition: all 0.2s ease-in;

            

            &:hover{
                background-color: $secondary;
                color: $primary;

                a{
                    color: $primary;
                }
            }
            

            @include media('<=tablet') {
                margin: 50px 0;
                padding: 0;

            }
        }
    }

    .navbar__mobile{
        padding: 40px 0;
        z-index: 1;
        position: absolute;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        gap: 50px;
        top: 72px;
        left: 0;
        width: 100%;
        background-color: #3E3E3E;
        text-decoration: none;
        height: 100vh;

        @include media('>tablet') {
            display: none;
        }

        .btn__page {
            text-decoration: none;
            border: none;
            background-color: inherit;
            color: $primary;
            font-size: 22px;
            cursor: pointer;
            padding: 10px 30px;
            margin: 0 10px;    

            &:hover{
                background-color: $secondary;
                color: $primary;
            }
        }
    }

    .container__toggler {
        display: none;

        @include media('<=tablet') {
            display: contents;
        }

        .btn__toggler {
            display: flex;
            justify-content: center;
            align-items: center;
            border: none;
            background-color: inherit;
            cursor: pointer;
            font-size: 32px;
        }
    }
    
}

  