*{
    margin: 0;
    padding: 0;
}

//variables
$secondary: #3E168E;

//Functions
@mixin flex($justify, $align, $direction) {
	display: flex;
	justify-content: $justify;
	align-items: $align;
	flex-direction: $direction;
}


@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');


    body {
        font-family: 'Poppins', sans-serif;
    }

    //font color
    $fontColor: #232222;

    //colors
    $primary: #fff;
    $secondary: #603091;

@mixin flex($justify, $align, $direction){
    display: flex;
    justify-content: $justify;
    align-items: $align;
    flex-direction: $direction;
}
// Nav-Bar responsive breakpoints
@mixin breakpoint($point) {
    @if $point == md {
        // 768px
        @media (min-width: 48em) {
            @content;
        }
    }
}

//Proyect main responsive breakpoints

$breakpoint-xs: 360px;
$breakpoint-sm: 768px;
$breakpoint-tablet: 800px;
$breakpoint-md: 1023px;
$breakpoint-lg: 1360px;

@mixin media($media) {
  @if $media == xs {
    @media (max-width: $breakpoint-sm) { @content; }
  }
  @else if $media == sm {
    @media (min-width: $breakpoint-sm) and (max-width: $breakpoint-tablet) { @content; }
  }
  @else if $media == tablet {
    @media (min-width: $breakpoint-tablet) and (max-width: $breakpoint-md) { @content; }
  }
  @else if $media == md {
    @media (min-width: $breakpoint-md) and (max-width: $breakpoint-lg) { @content; }
  }
  @else if $media == lg {
    @media (min-width: $breakpoint-lg) { @content; }
  }
}
