*{
    margin: 0;
    padding: 0;
}

//variables
$secondary: #3E168E;

//Functions
@mixin flex($justify, $align, $direction) {
	display: flex;
	justify-content: $justify;
	align-items: $align;
	flex-direction: $direction;
}

//font
body{
	font-family: 'Roboto', sans-serif;;
}

